<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ state }} </title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="logo"><a href="/">← Election Monitor API</a></div>
    </header>

    <main class="main-centered">
        {% set full_name = dict(states).get(state, state) %}
        <h2>{{ full_name }}</h2>

        <div class="chart-block">
            <h3>Präsidentenwahl</h3>
            {% if pres_data %}
                <img src="{{ url_for('static', path='charts/' + state + '_president.png') }}" alt="Präsidentenwahl" class="rounded shadow w-full max-w-6xl mx-auto mb-6">
            {% else %}
                <p>Für diesen Staat liegen keine Daten zur Präsidentenwahl vor.</p>
            {% endif %}
        </div>

        <div class="chart-block">
            <h3>Senatswahl</h3>
            {% if sen_data %}
                <img src="{{ url_for('static', path='charts/' + state + '_senate.png') }}" alt="Senatswahl" class="rounded shadow w-full max-w-5xl mx-auto">
            {% else %}
                <p>Für diesen Staat liegen keine Daten zur Senatswahl vor.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>